.left-panel{
    position: fixed;
    height: 100vh;
    width: 200px;
    background: #6a0073;
    z-index: 4;
}
.left-panel img{
    display: block;
    margin: 0 auto;
    height: 100px;
    padding: 10px;
}
.top-panel{
    padding: 20px;
    top: 0px;
    margin-left: 200px;
    position: fixed;
    width: calc(100vw - 200px);
    box-shadow: 0 0 5px -1px black;
    background: white;
    z-index: 2;
}

.yape-menu{
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}

.yape-menu  ul {
    padding: 0;
}

.yape-menu  li {
    list-style-type: none;
    display: block;
    margin: 10px auto;
    padding: 10px 10px;
}

.yape-menu  li:hover {
    cursor: pointer;
    background: #8F30A8;
    border-radius: 50px;
}

.yape-menu  a{
    color: white;
    text-decoration: none;

}
.container-dashboard{
    padding: 20px;
    z-index: 0;
    top: 135.9px;
    margin-left: 200px;
    position: relative;

}
.container-dashboard .form-box{
    max-width: 400px;

}
#menu-icon{
    display: none;
}
@media only screen and (max-width : 600px){
    .left-panel{
        transition: all .5s;
        left: -100px;

        width: 100px;
        background: #6a0073;
        z-index: 4;
        padding: 3px
    }
    .left-panel img{
        height: 70px;
        padding: 10px;
    }
    .top-panel{
        padding: 10px;
        top: 0px;
        margin-left: 0px;
        position: fixed;
        width: 100vw;
        box-shadow: 0 0 5px -1px black;
        background: white;
        z-index: 2;
    }

    .yape-menu{
        display: flex;
        height: 300px;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: bold;
        text-decoration: none;
        font-size: 12px;
    }

    .yape-menu  ul {
        padding: 0;
    }

    .yape-menu  li {
        list-style-type: none;
        display: block;
        margin: 10px auto;
        padding: 10px 10px;
    }

    .yape-menu  li:hover {
        cursor: pointer;
        background: none;
        border-radius: 50px;
    }

    .yape-menu  a{
        color: white;
        text-decoration: none;

    }
    .container-dashboard{
        padding: 5px;
        top: 135.9px;
        margin-left: 0px;
        position: relative;

    }
    .container-dashboard .form-box{
        max-width: 400px;

    }
    #menu-icon{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 30px;
        height: 20px;
    }
    #menu-icon:hover{
        cursor: pointer;
    }
    .__line{
        width: 100%;
        height: 4px;
        margin: 3px 0;
        border-radius: 10px;
        background: #6a0073;
    }
    .active{
        left: 0px;

        display: block;
        transition: all .5s;

    }
}
