<html xmlns:th="http://www.thymeleaf.org" xmlns:tx="http://www.w3.org/1999/xhtml">
<head th:replace="partial/head :: head">
<body>
	<nav th:replace="partial/navbar :: navigation"></nav>
	<div th:replace="partial/flash :: flash"></div>

	<div class="container form-box" name="form_container" style="max-width: 30em;">
		<h4 style="text-align: center">Restaure su contraseña.</h4><br>
		<form th:action = "@{/change_password}" method="POST">
			<label for="code">Contraseña: </label>
			<input type="password" class="form-control" id="newPassword" aria-describedby="newPasswordHelp" name="newPassword" required>
            <br>
            <label for="code">Repetir contraseña: </label>
			<input type="password" class="form-control" id="againNewPassword" aria-describedby="againNewPasswordHelp" name="againNewPassword" required>
			<br>
			<button type="submit" class="btn">Confirmar</button>
		</form>
	</div>

	<footer th:replace="partial/footer :: footer"/>
	<div th:replace="partial/body-scripts :: body-scripts"></div>

</body>
</html>