<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partial/offline :: head">
    <title>YapeCupones</title>
    <link rel=icon href=../static/img/favicon.ico>
<body>
<style>
    .show_cupon{
        margin-left: 5%;
        margin-right: 5%;
    }

    .box {
        margin-bottom: 2em;
    }
</style>

<nav th:replace="partial/offline :: navigation"/>
<div class="container">
    <br>
    <div class="row" style="margin: 2em;">
        <div class="col-lg-5">
            <form class="show_cupon" enctype="multipart/form-data">
                <div class="box">
                    <h4>Bigotes</h4>
                </div>
                <div class="box">
<!--                    <h3 th:text="${coupon.getTitle()}"></h3>-->
                </div>
                <div class="box">
<!--                    <h4 th:text="${coupon.getDescription()}"></h4>-->
                </div>
                <div class="box">
<!--                    <h4 th:text="'S/. ' + ${coupon.getCost()} + '.00'"></h4>-->
                </div>
                <button class="btn btn-light">Ver en mapa</button>

            </form>
        </div>
    </div>
</div>
<footer th:replace="partial/offline :: footer"/>
</body>
</html>
