<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partial/head :: head">
    <title>YapeCupones</title>
    <link rel=icon href=../static/img/favicon.ico>
<body>
<style>
    .show_cupon{
        margin-left: 5%;
        margin-right: 5%;
    }

    .box {
        margin-bottom: 2em;
    }
</style>

<nav th:replace="partial/dashboard :: navigation"></nav>
<nav th:replace="partial/dashboard :: top_panel"></nav>
<div th:replace="partial/flash :: flash"></div>

<div class="container">
    <br>
    <div class="row" style="margin: 2em;">
        <div class="col-lg-5">
            <form class="show_cupon" enctype="multipart/form-data">
                <img th:src="${coupon.getImage_path()}" alt="image.png" class="card-img" style="width: 190; height: 200">
                <div class="box">
                    <h3 th:text="${coupon.getTitle()}"></h3>
                </div>
                <div class="box">
                    <h4 th:text="${coupon.getDescription()}"></h4>
                </div>
                <div class="box">
                    <h4 th:text="'S/. ' + ${coupon.getCost()} + '.00'"></h4>
                </div>
                <button class="btn btn-light">Ver en mapa</button>

            </form>
        </div>
    </div>
</div>
</body>
</html>
