<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partial/head :: head">
    <title>YapeCupones</title>
    <link rel=icon href=../static/img/favicon.ico>
</head>

<nav th:replace="partial/dashboard :: navigation"></nav>
<nav th:replace="partial/dashboard :: top_panel"></nav>
<div th:replace="partial/flash :: flash"></div>

<div class="container-dashboard" name="form_container" style="max-width: 80em; align-items : center;">
    <br>
    <div class="row" style="margin: 2em;">
        <div class="col-lg-5">
            <form class="newcupon" method="post" th:action="'/update_coupon/' + ${coupon.getId().toString()}" enctype="multipart/form-data">
                <a>Editar cupon</a>
                <div class="box">
                    <a>Nombre de promocion:</a>
                    <input name="title" id="title" type="text" class="form-control" th:value="${coupon.getTitle()}">
                </div>
                <div class="box">
                    <a>Description</a>
                    <input name="description" id="description" type="text" class="form-control" placeholder="¿que contiene la promocion?"th:value="${coupon.getDescription()}">
                </div>
                <div class="box">
                    <a>Precio de Promocion:</a>
                    <input name="cost" id="precio" type="number" class="form-control" th:value="${coupon.getCost()}">
                </div>
                <button type="submit" class="btn" style="background: #01C4A4;font-weight: bold; color: white; margin-top: 20px">
                    Guardar cambios
                </button>
            </form>
        </div>

        <div class="col-lg-7">
            <object th:data="@{img/yape.png}" type="image/png">
                <img id="front-image" th:src="${coupon.getImage_path()}" alt="" style="width: 100%; border-radius: 0.5em; border-style: solid; border-width: 0.05em; border-color: #eee;"/>
            </object>
        </div>
    </div>
</div>

<div th:replace="partial/body-scripts :: body-scripts"></div>

</body>
</html>
