<html xmlns:th="http://www.thymeleaf.org" xmlns:tx="http://www.w3.org/1999/xhtml">
<head th:replace="partial/head :: head">

<div class="container">
    <br>
    <div class="row" style="margin: 2em;">
        <div class="col-lg-5">
            <form class="newcupon" method="post" action="/create_coupon" enctype="multipart/form-data">
                <a>crear cupon</a>
                <div class="box">
                    <a>nombre de promocion:</a>
                    <input name="title" id="title" type="text" class="form-control">
                </div>
                <div class="box">
                    <a>description</a>
                    <input name="description" id="description" type="text" class="form-control" placeholder="¿que contiene la promocion?">
                </div>
                <div class="box">
                    <a>precio de promocion:</a>
                    <input name="cost" id="precio" type="number" class="form-control">
                </div>
                <div class="box">
                    <a>elija una imagen</a>
                </div>
                <button type="submit" class="btn btn-light">crear cupon</button>

            </form>
        </div>

        <div class="col-lg-7">
            <img id="front-image" src="" alt="" style="width: 100%; border-radius: 0.5em; border-style: solid; border-width: 0.05em; border-color: #eee;"/>
        </div>
    </div>
</div>

<footer th:replace="partial/footer :: footer"/>
<div th:replace="partial/body-scripts :: body-scripts"></div>

</body>
</html>
