
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partial/offline :: head">
	<title>YapeCupones</title>
	<link rel=icon href=../static/img/favicon.ico>
<body>
	<nav th:replace="partial/offline :: navigation"></nav>

	<div class="container form-box" name="form_container" style="max-width: 30em;">
        <h1 style="text-align: center">Something went wrong!</h1><br>
        <h2 style="text-align: center">Our Engineers are on it</h2><br>
			<br> 
            <br>
            Lost? <a href="/">Go Home</a>
            <br>
		</form>
	</div>
	<footer th:replace="partial/offline :: footer"/>
</body>
</html>