
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partial/offline :: head">
	<title>YapeCupones</title>
	<link rel=icon href=../static/img/favicon.ico>
<body>
	<nav th:replace="partial/offline :: navigation"></nav>

	<div class="container form-box" name="form_container" style="max-width: 30em;">
        <h1 style="text-align: center">Algo salió mal...</h1><br>
        <h2 style="text-align: center">Nuestros desarrolladores están trabajando para solucionarlo.</h2><br>
			<br> 
            <br>
            ¿Perdido? <a href="/">Ir a Home</a>
            <br>
		</form>
	</div>
	<footer th:replace="partial/offline :: footer"/>
</body>
</html>