<html xmlns:th="http://www.thymeleaf.org" xmlns:tx="http://www.w3.org/1999/xhtml">
<head th:replace="partial/head :: head">

<style>
  .row{
    margin-top: 2em;
  }
</style>

<body>
	<nav th:replace="partial/navbar :: navigation"></nav>
	<div th:replace="partial/flash :: flash"></div>

<br>
<div class="container" name="form_container" style="max-width: 80em; align-items : center;">
  <div class="container">
  <h2 style="text-align: left;" th:text="${business_name}"></h2><br>
  <h5 th:text="'Bienvenido, ' + ${given_name}"></h5><br>
  <a href="/update_information"><h6 style="text-align: left;">Actualizar informacion</h6></a>
   <a href="/change_password"><h6 style="text-align: left;">Cambiar contraseña</h6></a>

  <button type="button" class="btn btn-light" onclick="window.location.href='/create_coupon'">Crear cupon</button>


  <div class="row">
    <div class="col-8"><b>Promociones</b></div>
    <div class="col-4"><b>Opciones</b></div>
  </div>

    <th:block th:each="coupon : ${coupons}">
      <p th:text="${coupon.getTitle()}">

      </p>


      <div class="row">
        <div class="col-8">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img th:src="${coupon.getImage_path()}" alt="image.png" class="card-img" style="width: 190; height: 200">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <a href="/coupon"><h5 class="card-title" th:text="${coupon.getTitle()}"></h5></a>
                  <p class="card-text" th:text="${coupon.getDescription()}"></p>
                  <p class="card-text"><small class="text-muted">Precio: S/ 24</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <br>
          <a th:href="'/coupon/edit/' + ${coupon.getId().toString()}"><button type="button" class="btn btn-warning">Editar</button></a>
          <br><br>
          <button type="button" class="btn btn-danger" onclick="window.location.href='/create_coupon'">Borrar</button>
        </div>
      </div>
    </th:block>

  <div class="row">
    <div class="col-8">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img th:src="@{img/image.jpg}" alt="image.png" class="card-img" style="width: 190; height: 200">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <a href="/coupon"><h5 class="card-title">Oferta: 2 x 1 en emparedados</h5></a>
              <p class="card-text">LLevate 2 emparedados con bebidas</p>
              <p class="card-text"><small class="text-muted">Precio: S/ 24</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <br>
      <button type="button" class="btn btn-warning" onclick="window.location.href='/create_coupon'">Editar</button>
      <br><br>
      <button type="button" class="btn btn-danger" onclick="window.location.href='/create_coupon'">Borrar</button>
    </div>
  </div>

</div>



</div>

	<footer th:replace="partial/footer :: footer"/>
	<div th:replace="partial/body-scripts :: body-scripts"></div>

</body>
</html>