<html xmlns:th="http://www.thymeleaf.org" xmlns:tx="http://www.w3.org/1999/xhtml">
<head th:replace="partial/head :: head">

<style>
  .row{
    margin-top: 2em;
  }
</style>

<body>

    <nav th:replace="partial/dashboard :: navigation"></nav>
    <nav th:replace="partial/dashboard :: top_panel"></nav>

<br>
<div class="container" name="form_container" style="max-width: 80em; align-items : center;">



<div class="container-dashboard" name="form_container" style="max-width: 80em; align-items : center;">
  <div th:replace="partial/flash :: flash"></div>
  <h5 th:text="'Bienvenido, ' + ${given_name}"></h5><br>

  <div class="row">
    <div class="col-10"><b>Promociones</b></div>
    <div class="col-2"><b>Opciones</b></div>
  </div>
  <br>

  <div class="row">
    <div class="col-10">
      <div class="card mb-3" style="max-width: 100%;">
        <div class="row no-gutters" style="height: 100%">
          <div class="col-md-5">
            <img th:src="@{img/image.jpg}" alt="image.png" class="card-img" style="width: 100%">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <a href="/coupon"><h5 class="card-title">Oferta: 2 x 1 en emparedados</h5></a>
              <p class="card-text">LLevate 2 emparedados con bebidas</p>
              <p class="card-text"><small class="text-muted">Precio: S/ 24</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <br>
      <button type="button" class="btn btn-warning" onclick="window.location.href='/create_coupon'">Editar</button>
      <br><br>
      <button type="button" class="btn btn-danger" onclick="window.location.href='/create_coupon'">Borrar</button>
    </div>
  </div>

</div>



</div>

  <footer th:replace="partial/footer :: footer"/>
  <div th:replace="partial/body-scripts :: body-scripts"/>

</body>
</html>