<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partial/offline :: head">
<body>
	<nav th:replace="partial/offline :: navigation"></nav>

	<div class="container form-box" name="form_container" style="max-width: 30em;">
		<h4 style="text-align: center">Iniciar sesión</h4><br>
		<form th:action = "@{/login}" method="POST">
			<label for="dni">DNI: </label>
			<input type="text" class="form-control" id="dni" aria-describedby="dniHelp" name="dni" required>

			<label for="password">Contraseña: </label>
			<input type="password" class="form-control" id="password" aria-describedby="dniHelp" name="password" required>

			<br>
			<button type="submit" class="btn">Entrar</button>
			<br> <br>
			¿No tienes cuenta? <a href="/register">Registrate</a>
			<br>
			¿Olvidaste tu contraseña? <a href="/restorePassword">Recuperar</a>
		</form>
	</div>
	<footer th:replace="partial/offline :: footer"/>
</body>
</html>