<html>
<head>
	<title>YapePromociones</title>
</head>
<body>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/static/login.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="/static/login.css">
<div class="container" name="form_container" style="max-width: 30em;">
<br>
<h4 style="text-align: center">Login</h4><br>
	<form action = "/login" >
		<label for="email">Email: </label>
		<input type="email" class="form-control" id="email" aria-describedby="emailHelp" required>

		<label for="password">Contraseña: </label>
		<input type="password" class="form-control" id="password" aria-describedby="emailHelp" required>

		<br>
		<button type="button" class="btn btn-light" onclick="window.location.href='/'">Entrar</button>
		<br> <br>
	¿No tienes cuenta? <a href="/register">Registrate</a>
	</form>
</div>
</body>
</html>