<html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partial/offline :: head">
<body>
	<nav th:replace="partial/offline :: navigation"/>

	<div class="container form-box" name="form_container" style="max-width: 30em;">
	<h4 style="text-align: center">Crear cuenta: Paso 3</h4><br>
		<form action = "/Login" >
			<label for="banco_nu">Banco: </label>
			<input type="text" class="form-control" id="banco_nu" required>
			<label for="n_cuenta_nu">Numero de cuenta: </label>
			<input type="text" class="form-control" id="n_cuenta_nu" required>

			<br>
			<button type="button" class="btn" onclick="window.location.href='pag_inicio'">Crear cuenta</button>
			<br><br><a href="/register_local">Volver atras</a>
			<br><a href="/">Volver al incio</a>
		</form>
	</div>
	<footer th:replace="partial/offline :: footer"/>
</body>
</html>