<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partial/offline :: head">
	<title>YapeCupones</title>
	<link rel=icon href=../static/img/favicon.ico>
<body>
	<nav th:replace="partial/offline :: navigation"/>

	<div class="container form-box" name="form_container" style="max-width: 30em;">

	<h4 style="text-align: center">Agregar información de negocio</h4><br>
		<form>
			<label for="nombre_local">Ruc del negocio: </label>
			<input type="text" class="form-control" name="ruc" id="ruc" required>

			<label for="nombre_local">Nombre del negocio: </label>
			<input type="text" class="form-control" name="business_name" id="business_name" required>

			<label for="distrito_local">Descripción del negocio: </label>
			<input type="text" class="form-control" name="business_description" id="business_description" required>

			<label for="direccion_local">Dirección: </label>
			<input type="text" class="form-control" name="business_map_url" id="business_map_url" required>

			<label for="celular">Celular: </label>
			<input type="text" class="form-control" name="celular" id="celular" required>

			<br>
			<button type="button" class="btn" onclick="window.location.href='/register-local'">Registrar negocio</button>
		</form>
	</div>
	<footer th:replace="partial/offline :: footer"/>
</body>
</html>