<html>
<head>
	<title>YapePromociones</title>
</head>
<body>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/static/login.css">


<div class="container" name="form_container" style="max-width: 30em;">
<br>
<h4 style="text-align: center">Crear cuenta: Paso 2</h4><br>
	<form action = "/login" >
	<a>Nombre del local:</a>
	<input type="text" name="local_name" >
	<a>Distrito:</a>
	<input type="text" name="local_distrito" >
	<a>Direccion:</a>
	<input type="text" name="local_direccion" >
	<a>Celular:</a>
	<input type="number" name="celular" >
	<a>Ingrese el url de la ubicacion de su local en google maps:</a>
	<input type="url" name="local_ubicacion_maps" >


		<button type="button" onclick="window.location.href='register_bank'">Siguiente</button>
	<br><br><a href="/register">Volver atras</a>
	<br><a href="/">Volver al incio</a>
	</form>
</div>
</body>
</html>