<html>
<head>
	<title>YapePromociones</title>
</head>
<body>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/static/login.css">
<style>
	.footer {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		height:15%;
		max-height:30em;
		background-color: #E5E7E9;
		color: black;
		text-align: center;
	}
</style>

<nav class="navbar navbar-light" style="background-color: #610A73">
	<a class="navbar-brand" href="/" style="color: aliceblue">
		<img src="/static/img/yape.png" width="30" height="30" class="d-inline-block align-top" alt="">
		YapePromociones
	</a>
</nav>

<div class="container" name="form_container" style="max-width: 30em;">
<br>
<h4 style="text-align: center">Crear cuenta: Paso 1</h4><br>
	<form action = "/Login" >

		<label for="name_new_user">Nombre: </label>
		<input type="text" class="form-control" id="name_new_user" required>

		<label for="lastname_new_user">Apellido: </label>
		<input type="text" class="form-control" id="lastname_new_user" required>

		<label for="dni_new_user">Dni: </label>
		<input type="number" class="form-control" id="dni_new_user" required>

		<label for="password_new_user">Contraseña: </label>
		<input type="password" class="form-control" id="password_new_user" required>

		<label for="verify">Verificar contraseña: </label>
		<input type="password" class="form-control" id="verify" required>

		<label for="email_new_user">Email: </label>
		<input type="mail" class="form-control" id="email_new_user" required>

		<br>
		<button type="button" class="btn btn-light" onclick="window.location.href='Register_local'">Siguiente</button>
	<br><a href="/">Volver</a>
	</form>


</div>

<div class="footer">
	<div class="container">
		<h6>Sugerencias y problemas contactar a : some@gmail.com</h6>
	</div>
</div>
</body>
</html>