<html xmlns:th="http://www.thymeleaf.org" xmlns:tx="http://www.w3.org/1999/xhtml">
<head th:replace="partial/head :: head">
<body>
	<style>
		.login{
			min-height: calc(100vh - 300px);
		}
	</style>
	<nav th:replace="partial/navbar :: navigation"></nav>
	<div th:replace="partial/flash :: flash"></div>

	<div class="login container form-box" name="form_container" style="max-width: 30em;">
		<h4 style="text-align: center">Crear cuenta</h4>
		<form th:action="@{/register}"  method="POST">
			<label for="name_new_user">Nombre: </label>
			<input type="text" class="form-control" id="name_new_user" name="given_name" required>

			<label for="lastname_new_user">Apellido: </label>
			<input type="text" class="form-control" id="lastname_new_user" name="family_name" required>

			<label for="dni_new_user">DNI: </label>
			<input type="number" class="form-control" id="dni_new_user" name="dni" required>

			<label for="password_new_user">Contraseña: </label>
			<input type="password" class="form-control" id="password_new_user" name="password" required>

			<label for="verify">Verificar contraseña: </label>
			<input type="password" class="form-control" id="verify" name="confirm_password" required>

			<label for="email_new_user">Email: </label>
			<input type="email" class="form-control" id="email_new_user" name="email" required>

			<br>
			<button type="submit" class="btn" >Crear cuenta</button>
		</form>
	</div>

	<footer th:replace="partial/footer :: footer"/>
	<div th:replace="partial/body-scripts :: body-scripts"></div>

</body>
</html>