<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partial/offline :: head">
<body>
	<nav th:replace="partial/offline :: navigation"></nav>

	<div class="container form-box" name="form_container" style="max-width: 30em;">
		<h4 style="text-align: center">Recuperar contraseña</h4><br>
		<form th:action = "@{/restorePassword}" method="POST">
			<label for="email">Email: </label>
			<input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" required>
			<br>
			<button type="submit" class="btn">Enviar correo</button>
		</form>
	</div>
	<footer th:replace="partial/offline :: footer"/>
</body>
</html>