<html xmlns:th="http://www.thymeleaf.org" xmlns:tx="http://www.w3.org/1999/xhtml">
<head th:replace="partial/head :: head">
<body>
	<nav th:replace="partial/navbar :: navigation"></nav>
	<div th:replace="partial/flash :: flash"></div>

	<div class="container form-box" name="form_container" style="max-width: 30em;">
		<h4 style="text-align: center">Recuperar contraseña</h4><br>
		<form th:action = "@{/restore_password}" method="POST">
			<label for="email">Email: </label>
			<input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" required>
			<br>
			<button type="submit" class="btn">Enviar correo</button>
		</form>
	</div>

	<div th:replace="partial/body-scripts :: body-scripts"></div>

</body>
</html>