<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>


<nav th:fragment="navigation" class="navbar navbar-light" style="background-color: #6a0073">
    <div class="container">
        <a href="/" class="logo">
            <img th:src="@{/img/yape.png}" alt="yape.png">
        </a>

        <ul class="nav-links">
            <li class="nav-item"><a href="/">Iniciar sesión</a></li>
            <li class="nav-item"><a href="/register">Crear cuenta</a></li>
            <!--<li class="nav-item"><a href="#">Preguntas frecuentes</a></li>-->
        </ul>
    </div>
</nav>

<footer th:fragment="footer" class="footer" id="sticky-footer">
    <div class="container">
        <small>Copyright &copy; YapePromociones</small>
    </div>
</footer>
</body>
</html>